Flask
huggingface-hub
keras
matplotlib
numpy
opencv-python
openpyxl
pandas
pillow
pyinstaller
PyOpenGL
ratelimit
requests
safetensors
scikit-learn
scikit-surprise
scipy
seaborn
sentence-transformers
tabulate
tensorflow
termcolor
torch
tqdm
transformers
triton
